body{
    background-color: rgb(253, 231, 235);
}

fieldset{
    width: 95%;
    border: 3px solid rgb(160, 6, 6);;
    border-radius: 25px;
    padding: 20px;
}

i{
    color: crimson;;
}

a{
    color: rgb(160, 6, 6);
    font-weight: bold;
}

a:hover{
    color: white;
    border: 2px;
    border-radius: 12px;
    padding: 5px;
    background-color: rgb(14, 12, 13);
}

h1{
    font-size: 400%;
}

h2{
    font-size: 300%;
    color: rgb(168, 6, 39);
}

textarea{
    background-color: rgb(254, 249, 243);
    outline: none;
    border-color: rgb(160, 6, 6);
    border-radius: 10px;
    padding: 10px;
}

textarea:hover{
    border: 2px solid rgb(160, 6, 6);
}

textarea:focus{
    color: solid rgb(160, 6, 6);
}

input[value=Post]{
    color: rgb(253, 231, 235);
    font-weight: bold;
    background-color: rgb(160, 6, 6);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 8px;
}

input[value=Post]:hover{
    background-color: white;
    border: 2px solid rgb(160, 6, 6);
    color: rgb(160, 6, 6);
}