<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Blog Post</title>
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    {% block content %}
        <h1>Create your own blog</h1>
        <h1><a href="/reg_a"><button><b>Sign-in as Author</b></button></a></h1>    
        <h1><a href="/reg_u"><button><b>Sign-in as User</b></button></a></h1>
    {% endblock %}
</body>

</html>